<!-- Toolbar -->
<header class="toolbar" role="banner">
  <img
    width="40"
    alt="Logo"
    src="../assets/icons/url_shortener.png"
  />
  <span>The Ultimate URL Shortener Tool</span>
    <div class="spacer"></div>
    <a aria-label="Developer Github Account" target="_blank" rel="noopener" href="https://github.com/Johnleonarduc" title="Github">
      <img src="../assets/icons/github.svg" alt="Github Logo">
    </a>
    <a aria-label="Developer LinkedIn Account" target="_blank" rel="noopener" href="https://www.linkedin.com/in/johnleonarduc/" title="LinkedIn">
      <img src="../assets/icons/linkedin.svg" alt="LinkedIn logo">
    </a>
</header>

<main>
  <section id="tool">
    <form [formGroup]="urlForm">
      <mat-form-field >
        <input matInput type="text" placeholder="Input The URL" formControlName="url">
      </mat-form-field>

      <button type="submit" (click)="getShortLink()"> Shorten </button>
    </form>
    <div id="wrapper" *ngIf="urlShortStatus">
      <div id="results" *ngFor="let shortCode of urlShortCode; index as i">
        <p> Short URL {{i+1}}:
          <a href="shortCode.short_link_href">{{shortCode.short_link}}</a>
        </p>
      </div>
    </div>

  </section>

  {{urlForm.value |json}}
</main>

<!-- Footer -->
<footer>

</footer>

<router-outlet></router-outlet>
